In [3]:
import pandas as pd

In [5]:
url = 'https://github.com/arshad00007/ICTAK-ASSIGNMENTS---Arshad-Arif-/raw/main/StudentsPerformance.csv'
data = pd.read_csv(url)
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

**1.** count the number of males and females

In [7]:
gender_counts = data['gender'].value_counts()
print("Number of males:", gender_counts['male'])
print("Number of females:", gender_counts['female'])

Number of males: 482
Number of females: 518

**2.** Analyze parental level of education

In [9]:
parental_education_counts = data['parental level of education'].value_counts()
print("\nParental Level of Education:")
print(parental_education_counts)

Parental Level of Education:
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

**3.** Calculate average scores based on gender and test preparation course

In [10]:
grouped_gender = data.groupby('gender')
grouped_prep_course = data.groupby('test preparation course')

average_scores_gender = grouped_gender[['math score', 'reading score', 'writing score']].mean()
average_scores_prep_course = grouped_prep_course[['math score', 'reading score', 'writing score']].mean()

print("\nAverage scores based on Gender:")
print(average_scores_gender)

print("\nAverage scores based on Test Preparation Course:")
print(average_scores_prep_course)

Average scores based on Gender:
        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

Average scores based on Test Preparation Course:
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

**4.**Calculate variation (standard deviation) based on gender and test preparation course

In [11]:
std_scores_gender = grouped_gender[['math score', 'reading score', 'writing score']].std()
std_scores_prep_course = grouped_prep_course[['math score', 'reading score', 'writing score']].std()

print("\nStandard deviation of scores based on Gender:")
print(std_scores_gender)

print("\nStandard deviation of scores based on Test Preparation Course:")
print(std_scores_prep_course)

Standard deviation of scores based on Gender:
        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

Standard deviation of scores based on Test Preparation Course:
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

**5.** Calculate bonus points for the top 25% of students based on math score

In [14]:
math_scores = data['math score']
top_25_percentile = math_scores.quantile(0.75)
top_students = data[data['math score'] > top_25_percentile]

In [15]:
print("\nTop students (based on math score):")
print(top_students)

Top students (based on math score):
     gender race/ethnicity parental level of education         lunch  \
430  female        group A                some college      standard
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[231 rows x 8 columns]